@font-face {
  font-family: Orbitron-Bold;
  src: url(./Fonts/Orbitron-Bold.ttf);
}

@font-face {
  font-family: inter;
  src: url(./Fonts/Inter-Regular.ttf);
}
body {
  font-family: inter;
  font-size: 0.9rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Orbitron-Bold;
  font-size: 2rem;
}

.dropdownButtonWrapper {
  display: flex;
  justify-content: center;
  width: 9rem;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #54595e;
}

.dropdownButton:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.arrow {
  border: solid #abb5be;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.darkmodeButton {
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  border-radius: 20px;
  width: 6rem;
  padding: 0.5rem;
}

.dropdown {
  position: absolute;
  top: 5.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #54595e;
}
