.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: Orbitron-Bold;
  font-size: 5vh;
  width: 70%;
}

.dropdownButtonWrapper {
  display: flex;
  justify-content: center;
  width: 15%;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 2vh;
  border-radius: 1vh;
  padding: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
  color: #54595e;
}

.dropdownButton:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdownArrow {
  border: solid #abb5be;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: absolute;
  top: 11vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #f4f9fe;
  border: 1px solid #d8dde2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #54595e;
}

.toggleWrapper {
  width: 15%;
  display: flex;
  justify-content: center;
}

.toggle {
  appearance: none;
  background-color: #f4f9fe;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 1s;
  border-radius: 100px;
  padding: 10px 13px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark .toggle {
  background-color: #4d6272;
}

.toggle:hover {
  background-color: rgb(43, 43, 43);
}

.toggle:after {
  content: "\1F319";
  font-size: 25px;
}

.toggle:checked:after {
  content: "\1F506";
}

@media (orientation: portrait) {
  .header {
    height: 10vh;
  }

  .logo {
    width: 40%;
    font-size: 3.3vw;
  }

  .dropdownButtonWrapper {
    width: 30%;
  }

  .dropdownButton {
    font-size: 3vw;
    gap: 1vw;
    border-radius: 2vw;
    padding: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .toggleWrapper {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}

.dark .dropdownButton {
  background-color: #4d6272;
  border-color: #5a7387;
  color: #f4f9fe;
}

.dark .dropdown {
  background-color: #4d6272;
  border-color: #5a7387;
  color: #f4f9fe;
}
