.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  width: calc(100% - 8vw);
  padding: 0 4vw;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  width: 25%;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: Orbitron-Bold;
  font-size: 5vh;
  width: 50%;
}

.toggle-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
}

.toggle {
  appearance: none;
  background-color: #f4f9fe;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 1s;
  border-radius: 100px;
  padding: 10px 13px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dark .toggle {
  background-color: #4d6272;
}

.toggle:hover {
  background-color: rgb(43, 43, 43);
}

.toggle:after {
  content: "\1F319";
  font-size: 25px;
}

.toggle:checked:after {
  content: "\1F506";
}

@media (max-width: 1125px) {
  .header {
    height: 10vh;
  }

  .dropdownMenu {
    width: 30%;
  }

  .logo {
    flex-direction: column;
    align-items: center;
    width: 40%;
    font-size: 3.3vw;
  }

  .logo p {
    margin: 0;
  }

  .toggleWrapper {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .toggle-wrapper {
    justify-content: flex-start;
    width: 20%;
  }

  .dropdown-menu {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .logo {
    font-size: 12px;
  }
}

.dark .dropdown-button {
  background-color: #4d6272;
  border-color: #5a7387;
  color: #f4f9fe;
}

.dark .dropdown {
  background-color: #4d6272;
  border-color: #5a7387;
  color: #f4f9fe;
}
