.jokeboxWrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 15vh;
  height: 85vh;
  width: 100%;
}

.jokeboxTop {
  display: flex;
  justify-content: center;
}

.jokebox {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.jokeboxBottom {
  display: flex;
  justify-content: center;
}

.joke {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.icon {
  width: 15vh;
}

.scrollButtonBottom {
  display: none;
}

.scrollButtonTop {
  display: flex;
}

.scrollButton {
  background-color: rgba(0, 0, 0, 0);
  padding: 3vh 3vh;
  margin: 2vw 2vw;
  border: 1vh solid #2b2b2b;
  border-radius: 10vh;
  transition: all .3s ease;
  cursor: pointer;
  align-items: center;
}

.scrollButton > .arrow {
  width: 4vh;
  height: 4vh;
  border-right: 1.5vh solid #2b2b2b;
  border-bottom: 1.5vh solid #2b2b2b;
  border-radius: 0.5vh;
  position: relative;
}

.scrollButton:hover > .left {
  transform: rotate(135deg) translate(1vh, 1vh);
}

.scrollButton > .left {
  transform: rotate(135deg);
  transition: all .3s ease;
}

.scrollButton:hover > .right {
  transform: rotate(-45deg) translate(1vh, 1vh);
}

.scrollButton > .right {
  transform: rotate(-45deg);
  transition: all .3s ease;
}

#selectJoke {
  appearance: none;
  padding: 1vh;
  border: 0.2vh solid #969696;
  border-radius: 10vh;
  width: 16vh;
  background-color: #f4f9fe;
  color: #54595e;
  font-size: 1.5vh;
  cursor: pointer;
}

#selectJoke:hover {
  border-color: #333333;
}

@media (orientation: portrait) {
  .jokeboxWrapper {
    padding-top: 10vh;
    height: 90vh;
  }

  .scrollButtonBottom {
    display: flex;
  }

  .scrollButtonTop {
    display: none;
  }

  .joke {
    font-size: 8vw;
    padding: 3vw 3vw;
  }

  .icon {
    width: 30vw;
  }

  .scrollButton {
    padding: 7vw 7vw;
    border: 2.5vw solid #2b2b2b;
    border-radius: 20vw;
  }
  
  .scrollButton > .arrow {
    width: 8vw;
    height: 8vw;
    border-right: 2.5vw solid #2b2b2b;
    border-bottom: 2.5vw solid #2b2b2b;
    border-radius: 1vw;
  }
  
  .scrollButton:hover > .left {
    transform: rotate(135deg) translate(0, 0);
  }
  
  .scrollButton:hover > .right {
    transform: rotate(-45deg) translate(0, 0);
  }

  #selectJoke {
    padding: 3vw;
    border: 0.6vw solid #969696;
    border-radius: 30vw;
    width: 42vw;
    font-size: 4vw;
  }
  
}

.dark .scrollButton {
  border-color: #F4F4F4;
}

.dark .arrow {
  border-color: #F4F4F4;
}

.dark #selectJoke {
  background-color: #4a5f6e;
  border-color: #4c6677;
  color: #d8d8d8;
}


